/* webfont */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    /* rem의 기준크기!!!*/
    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

#wrap {
    min-width: 1320px;
}
#header {
    width: 1320px;
    margin: 0 auto;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px;
}

.gnb {
    display: flex;
    margin: 0 40px;

}

.gnb li a {
    display: block;
    font-weight: bold;
    margin: 26px;
}

.header_link {
    display: flex;
}

.header_link li {
    margin: 20px;

}
#container{
    width: 916px;
    margin: 0 auto;
    position: relative;
}

#container h2{
    text-align: center;
    font-size: 30px;
    margin:110px 0  50px;
}
.box1 ul{
    display: flex;
    justify-content: center;
}
.box1 ul li{
    text-align: center;
}

.box1 ul li a{
    font-size: 16px;
    text-align: center;

}


.box2{
    display: flex;
    justify-content: center;
    border: 1px solid #707070;
    /* width: 450px; */
    box-sizing: border-box;
    background-color: #FEE500;
    /* position: absolute;
    right: 430px;
    bottom: 50px; */
    height: 67px;
    margin-bottom: 60px;
    cursor: pointer;
}
.kakao_button_wrap{
    width: 25px;
    padding-top: 20px; 
}
.kakao_button_wrap img{
    display: block;
}
.box2 p{
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    margin-left: 10px;   
}
.log_in_bar{
    margin-bottom: 10px;
}
.log_in_bar input{
    width: 100%;
    display: block;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #7c7c7c;
    outline: none;
}
.bar1{
    margin-bottom: 2px;
}
.log_in_bar input ::placeholder{
    font-size: 16px;
}
#section4{
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
}
.search p{
    margin-left: 60px;
    cursor: pointer;
}
.login_box{
    height: 67px;
    background-color: #333;
    margin-top: 76px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.naver_login_box,.apple_login_box{
    margin-top: 2px;
    border: 1px solid #7c7c7c;
    
}
.naver_login_box .section2_text,
.apple_login_box .section2_text{
    height: 67px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.naver_login_box .section2_text p,
.apple_login_box .section2_text p{
    margin-left: 10px;
    font-size: 18px;
    padding-bottom: 6px;
}
.banner_wrap{
    margin: 70px 0 140px;
}
.banner_wrap{
    width: 100%;
}


#footer {
    border-top: 1px solid #ddd;
    padding: 37px 0 60px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
}

.footer_link {
    display: flex;
    margin-bottom: 23px;
}

.footer_link li {
    margin-right: 16px;
    font-size: 20px;
}